/* @import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@350&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pavanam&display=swap"); */

/* :root {
	--body-color: #e4e9f7;
	--header-color: #fff;
	--primary-color: #695cfe;
	--primary-color-dark: #4559b2;
	--toggle-color: #a990ff;
	--text-color: #707070;
	--background-color: #7988974f; /*ITS LOW OPACITY!!!! 
} */

:root {
	--text-main: 56, 55, 56; /* paragraf */
	--text-main-color: rgb(var(--text-main)); /* heading */
	--text-on-dark: 255, 255, 255;
	--text-on-dark-color: rgb(var(--text-on-dark));
	--bg-accented: #f7f5f1;
	--bg: #f9f9f9;
	--bg-color: #ececec;
	--border-color: #f2f2f2;
	--primary-color: #7cecc5;
	--accent-color: #ff7b4f;
}

/* ======== MAIN ======== */

* {
	box-sizing: border-box;
	text-decoration: none;
	/* font-family: "Poppins", sans-serif; */
	font-family: Graphik, sans-serif;
	/* font-family: Pavanam; */
	letter-spacing: 0.5px;
}

html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	color: var(--text-main-color);
	background-color: var(--bg-color);
}

body {
	/* background-color: var(--body-color); */
	/* background-color: #fbf8ff; */
	/* background-color: var(--bg); */
	/* background-color: #e1f4f8; */
	/* background: linear-gradient(90deg, #e4e9f7, #e2e9f8, #e1eafa, #dfeafb, #dceafc, #daebfd, #d8ebfe, #d5ecff); */
}

h2 {
	/* font-family: Kodchasan; */
	letter-spacing: normal;
}

/* ======== RESPONSIVENESS ======== */

@media (max-width: 870px) {
	.title {
		font-size: 2.5rem;
	}
	.nav {
		flex-wrap: wrap;
		font-size: 1rem;
	}

	.nav li {
		width: 100%;
		text-align: center;
	}

	.title {
		text-align: center;
	}

	.auth {
		width: 100%;
		text-align: center;
		font-size: 1rem;
	}

	.auth li {
		margin-bottom: 5px;
	}
}
