body {
	background-color: rgb(242, 247, 251);
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	color: white;
	background-color: #7cc106;
	border-bottom: 2px solid gray;
}

nav {
	display: flex;
	justify-content: center;
	margin-top: 300px;
}

.link {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	outline: 2px solid green;
	border-radius: 30px;
	margin: 0px 20px;
	background-color: white;
}

.link a {
	text-decoration: none;
	font-size: 2rem;
	color: black;
}

.link:hover {
	outline: 3px solid black;
	font-weight: bold;
	background-color: #7cc106;
}

img {
	height: 300px;
	width: 300px;
}
