@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

:root {
	--body-color: #e4e9f7;
	--header-color: #fff;
	--primary-color: #695cfe;
	--toggle-color: #ddd;
	--text-color: #707070;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--body-color);
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
	color: #000;
	background-color: var(--header-color);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.title {
	font-family: Koulen;
	font-size: 3.5rem;
	letter-spacing: 0.2rem;

	background-color: var(--header-color);
	color: var(--primary-color);
}

.nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	font-size: 1.2rem;
	background-color: var(--header-color);
}

.nav li {
	display: inline-block;
	padding: 0px 20px;
	text-transform: uppercase;
	background-color: var(--header-color);
}

.nav a {
	display: block;
	padding: 0.5rem;
	background-color: var(--header-color);
	color: var(--text-color);
	border-radius: 6px;
	transition: background-color 0.5s ease;
}

.nav li a:hover {
	color: var(--header-color);
	background-color: var(--primary-color);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10%;
}

.card {
	margin: 1rem;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 20px;
	padding: 20px;
	background-color: var(--header-color);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	transition: background-color, transform 0.5s ease;
}

.card figcaption {
	color: var(--text-color);
}

.card:hover {
	transform: scale(1.1);
	background-color: var(--primary-color);
}

.card:hover figcaption {
	color: var(--header-color);
}

img {
	height: 250px;
	width: 250px;
}

@media (max-width: 700px) {
	.nav {
		flex-wrap: wrap;
	}

	.nav li {
		width: 100%;
		text-align: center;
	}

	.title {
		text-align: center;
	}
}
