/* ======== HEADER ======== */

.header {
	width: 100%;
	display: flex;
	position: fixed;
	height: 110px;
	top: 0px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	background-color: var(--header-color);
	z-index: 1;
	/* background-image: linear-gradient(to right, #695cfe, #9584ff, #baadff, #ddd6ff, #ffffff); */

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.header ul {
	padding: 0;
}

.title {
	font-family: Kreon;
	font-size: 3.5rem;
	text-transform: uppercase;
	color: var(--primary-color);
}

.nav,
.auth {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	font-size: 1.2rem;
	background-color: var(--header-color);
}

.nav li,
.auth li {
	display: inline-block;
	padding: 1px 20px;
	text-transform: uppercase;
	background-color: var(--header-color);
}

/* .auth li {
	background-color: var(--primary-color);
} */

.nav a,
.auth a {
	display: block;
	padding: 0.5rem;
	background-color: var(--header-color);
	color: var(--text-color);
	border-radius: 6px;
	transition: background-color, transform 0.5s ease;
	text-align: center;
}

.auth a {
	color: var(--header-color);
	background-color: var(--primary-color);
	white-space: nowrap;
}

.auth li a:hover {
	transform: scale(1.1);
	background-color: var(--primary-color-dark);
}

.nav li a:hover {
	transform: scale(1.1);
	color: var(--header-color);
	background-color: var(--primary-color);
}

#greeting-parent,
#logout-button-parent {
	display: none;
}

#greeting {
	padding: 10px 0 0 0;
	text-transform: none;
	color: var(--text-color);
}

#logout-button:hover {
	cursor: pointer;
}
