:root {
	--body-color: #e4e9f7;
	--background-color: #f4f9ff;
	--header-color: #fff;
	--primary-color: #695cfe;
	--toggle-color: #ddd;
	--text-color: #707070;
}

/* ======== BUTTONS ======== */

.keys,
.min-maj {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 10%;
}

.keys ul,
.min-maj ul {
	padding: 0;
}

.keys li,
.min-maj li {
	display: inline-block;
	padding: 10px 10px 0px 0px;
}

.btn {
	outline: none;
	height: 40px;
	width: 60px;
	text-align: center;
	border-radius: 40px;
	background: white;
	border: groove var(--body-color);
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
}

.min-maj .btn {
	width: 100px;
}

.keys .btn:hover,
.min-maj .btn:hover {
	color: var(--header-color);
	background-color: var(--primary-color);
	transition: background-color 0.5s ease;
}

.btn.selected {
	color: var(--header-color);
	background-color: var(--primary-color);
}

/* ======== TEXT ======== */

.keys figcaption,
.min-maj figcaption {
	font-size: 1.5rem;
	color: var(--text-color);
}

h2 {
	font-size: 3rem;
	margin: 130px 10% 0 10%;
	margin-bottom: 0;
	font-weight: 500;
	color: var(--text-color);
}

/* ======== PIANO ======== */

.pianos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	margin: 3% 1%;
	background-color: var(--background-color);
	border-radius: 40px;
	/* border: 1px solid black; */
	border: groove var(--body-color);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.piano {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.whites,
.blacks {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.blacks {
	margin-top: -100px;
	margin-left: 10px;
}

.black:nth-child(3) {
	margin-left: 20px;
}

.octave {
	margin: 0;
	padding: 0;
	width: 140px;
	height: 100px;
}

.white {
	background-color: white;
	width: 20px;
	height: 100px;
	outline: 1px solid black;
}

.black {
	background-color: black;
	margin: 0px 1px;
	width: 18px;
	height: 60px;
	/* outline: 1px solid black; */
	z-index: 2;
}

.active {
	background-color: var(--primary-color);
}

/* ======== RESPONSIVENESS ======== */

@media (max-width: 740px) {
	h2 {
		font-size: 2rem;
	}
}
