.newSong {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 1.2rem;
	/* margin: 40px 0 0 96px; */
}

.link {
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 0 5% 0 0;
	background-color: var(--text-main-color);
	color: var(--text-on-dark-color);
	white-space: nowrap;
	/* border-radius: 6px; */
	/* transition: background-color, transform 0.5s ease; */
	border: 1px solid var(--text-main-color);
	text-align: center;
	padding: 10px;
	height: 45px;
	margin-top: 130px;
}

.link:hover {
	/* transform: scale(1.1); */
	background-color: var(--bg-accented);
	color: var(--text-main-color);
}

/* ======== CARDS ======== */

.cards {
	display: flex;
	justify-content: center;
	margin-top: 2%;
	/* margin-left: 80px; */
}

.card {
	/* margin: 0; */
}

/* .card:hover h3,
.card:hover p {
	color: var(--header-color);
}

.card:hover h3 {
	border-bottom: 1px solid var(--header-color);
} */

img {
	height: 150px;
	width: 150px;
}

/* ======== TEXT ======== */

h2 {
	/* font-family: "Poppins", sans-serif; */
	color: var(--text-main-color);
	font-size: 5em;
	font-weight: 600;
	margin: 150px 0 0 0;
	background-color: var(--bg-color);
	text-align: center;
}

.em {
	background-image: url("../images/em-pink.svg");
	background-position: 0 80%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: -20px -32px -13px -16px;
	padding: 20px 32px 13px 16px;
}

h3,
p {
	/* font-family: "Poppins", sans-serif; */
	color: var(--text-main-color);
}

h3 {
	border-bottom: 1px solid var(--text-main-color);
}
