:root {
	--body-color: #e4e9f7;
	--header-color: #fff;
	--primary-color: #695cfe;
	--toggle-color: #ddd;
	--text-color: #707070;
}

.newSong {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 1.2rem;
	margin: 40px 0 0 96px;
}

.link {
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 0 5% 0 0;
	color: var(--header-color);
	background-color: var(--primary-color);
	white-space: nowrap;
	border-radius: 6px;
	transition: background-color, transform 0.5s ease;
	text-align: center;
	padding: 10px;
	height: 45px;
}

.link:hover {
	transform: scale(1.1);
	background-color: var(--primary-color-dark);
}

/* ======== CARDS ======== */

.cards {
	display: flex;
	justify-content: flex-start;
	margin-top: 2%;
	margin-left: 80px;
}

.card {
	/* margin: 0; */
}

.card:hover h3,
.card:hover p {
	color: var(--header-color);
}

.card:hover h3 {
	border-bottom: 1px solid var(--header-color);
}

img {
	height: 150px;
	width: 150px;
}

/* ======== TEXT ======== */

h2 {
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
	font-size: 3rem;
	font-weight: 500;
	/* margin: 40px 0 0 96px; */
}

h3,
p {
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
}

h3 {
	border-bottom: 1px solid var(--text-color);
}
