/* ======== CONTENT ======== */

.song-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 130px;
}

.song-info > * {
	margin: 10px 0 10px 0;
}

.song-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 70vw;
}

.song-meta-text {
	padding: 20px 100px;
	background-color: var(--bg);
	border-radius: 20px 0;
	box-shadow: 0px 0px 1px 0px black;
}

.song-meta-text > h4 {
	margin: 10px 0;
}

.video {
	margin: 16px 0;
}

.song-data {
	display: block;
	width: 65%;
	height: 75%;
	text-align: center;
	/* border: 2px solid black; */
	/* border-radius: 60px; */
	border-radius: 60px 0 60px 0;
	background-color: var(--bg);
	padding: 20px;
	line-height: 2em;
	min-width: 450px;
	box-shadow: 0px 0px 1px 0px black;
}

.chord {
	position: absolute;
	font-weight: bold;
	color: red;
	margin-top: -1em;
}

/* ======== TRANSPOSE ======== */

.buttons {
	background-color: var(--bg-accented);
	padding: 10px 0;
	width: 80vw;
}

.keys {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
	width: 74%;
	padding: 0 35px;
	border-radius: 0 20px;
	background-color: var(--bg-accented);
	/* box-shadow: 0px 0px 1px 0px black; */
}

.keys li {
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

.btn {
	outline: none;
	height: 40px;
	width: 60px;
	text-align: center;
	border-radius: 40px;
	background: var(--bg);
	border: 1px solid var(--text-main-color);
	color: var(--text-main-color);
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
}

.keys .btn:hover {
	color: var(--text-main-color);
	/* background-color: var(--primary-color); */
	background-color: var(--accent-color);
	/* transition: background-color 0.5s ease; */
}

.btn.selected {
	color: var(--text-main-color);
	/* background-color: var(--primary-color); */
	background-color: var(--accent-color);
}

.keys h4 {
	display: inline-block;
	/* padding: 10px 20px 0px 0px; */
	padding: 0;
	margin: 0;
}

/* ======== TEXT ======== */

h2 {
	color: var(--text-main-color);
	font-size: 3rem;
	font-weight: 500;
	margin-top: 0;
	border-bottom: 1px solid var(--text-main-color);
}

h4 {
	/* font-family: "Poppins", sans-seri; */
	font-size: 1.2rem;
	color: var(--text-main-color);
	font-weight: 500;
}

pre,
pre > span {
	font-family: monospace;
	font-size: 1.1rem;
}

/* ======== ON/OFF BUTTON ======== */

.toggle-button {
	width: 69%;
	margin: 0 0 10px 0;
	height: 35px;
}

.switch {
	position: relative;
	display: inline;
	width: 60px;
}

.checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	background-color: var(--text-main-color);
	margin-left: 30%;
	width: 60px;
	height: 34px;
	content: "";
	top: 16px;
	left: 140px;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
	/* z-index: -1; */
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
	/* z-index: -1; */
}

input:checked + .slider {
	/* background-color: var(--primary-color); */
	background-color: var(--primary-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--bg);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* ======== LINKS ======== */

.song-chords {
	display: flex;
	width: 74%;
	border-radius: 0 20px;
	background-color: var(--bg-accented);
	/* box-shadow: 0px 0px 1px 0px black; */
}

.song-chords li {
	margin: 15px 10px 10px 10px;
	text-align: center;
	list-style: none;
	height: 37px;
	width: 60px;
	list-style: none;
	cursor: pointer;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	/* border-radius: 6px; */
	padding-top: 5px;

	/* box-shadow: rgb(0 0 0 / 10%) 0 2px 4px 0; */
}

.song-chords li:hover {
	background-color: var(--bg);
	color: var(--text-main-color);
	border: 1px solid var(--text-main-color);
}

.song-chords-link {
	color: var(--text-main-color);
	width: 100%;
	font-size: 1.1rem;
	font-weight: bold;
}
